# **제어문**
---

In [ ]:
# 조건에 따라서 다른 결과를 얻기 위해서 사용하는 것

value = 10
if value >  5 :
    print('value is bigger than 5')

value is bigger than 5

In [ ]:
money = 10

if money > 100:
    item = 'apple'
else:
    item = 'banana'

print(item)

banana

In [ ]:
# 성적 처리

score = int(input("Input your score:  "))    # 입력 받기

if 90 <= score <= 100:
    grade = 'A'
elif 80 <= score < 90:
    grade = 'B'
elif 70 <= score < 80:
    grade = 'C'
elif 60 <= score < 70:
    grade = 'D'
else:
    grade = 'F'

print("Your score is {} and your grade is {}.".format(score, grade))

Input your score:  40
Your score is 40 and your grade is F.

## **`bool`**
---

In [ ]:
# 조건식의 참과 거짓
print(bool(True))
print(bool(False))
print(bool(123))
print(bool(0))     # 0은 False 이다.
print(bool(-1))    # -1도 True이다. (0을 제외한 나머지 숫자는 True이다.)
print(bool('apple'))
print(bool(''))    # 내용이 없으면 False
print(bool(' '))   # 공백은 True
print(bool())

True
False
True
False
True
True
False
True
False

## **반복문 (`while` and `for`)**
---

In [ ]:
value = 5
while value > 0:
    print(value)
    value -= 1

5
4
3
2
1

In [ ]:
l = ['Apple', 100, 15.23]
for i in l:
    print(i)

Apple
100
15.23

In [ ]:
# 구구단 출력
loop1 = [2, 3, 4, 5, 6, 7, 8, 9]
loop2 = [1, 2, 3, 4, 5, 6, 7, 8, 9]

for i in loop2:
    for j in loop1:
        print("i * {0} = {1}".format(i, i * j))
"""
for i in loop1:
    for j in loop2:
        print(i, "*", j, "=", i * j)
"""

i * 1 = 2
i * 1 = 3
i * 1 = 4
i * 1 = 5
i * 1 = 6
i * 1 = 7
i * 1 = 8
i * 1 = 9
i * 2 = 4
i * 2 = 6
i * 2 = 8
i * 2 = 10
i * 2 = 12
i * 2 = 14
i * 2 = 16
i * 2 = 18
i * 3 = 6
i * 3 = 9
i * 3 = 12
i * 3 = 15
i * 3 = 18
i * 3 = 21
i * 3 = 24
i * 3 = 27
i * 4 = 8
i * 4 = 12
i * 4 = 16
i * 4 = 20
i * 4 = 24
i * 4 = 28
i * 4 = 32
i * 4 = 36
i * 5 = 10
i * 5 = 15
i * 5 = 20
i * 5 = 25
i * 5 = 30
i * 5 = 35
i * 5 = 40
i * 5 = 45
i * 6 = 12
i * 6 = 18
i * 6 = 24
i * 6 = 30
i * 6 = 36
i * 6 = 42
i * 6 = 48
i * 6 = 54
i * 7 = 14
i * 7 = 21
i * 7 = 28
i * 7 = 35
i * 7 = 42
i * 7 = 49
i * 7 = 56
i * 7 = 63
i * 8 = 16
i * 8 = 24
i * 8 = 32
i * 8 = 40
i * 8 = 48
i * 8 = 56
i * 8 = 64
i * 8 = 72
i * 9 = 18
i * 9 = 27
i * 9 = 36
i * 9 = 45
i * 9 = 54
i * 9 = 63
i * 9 = 72
i * 9 = 81

'\nfor i in loop1:\n    for j in loop2:\n        print(i, "*", j, "=", i * j)\n'

In [ ]:
L = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# break 문을 사용하면 반복문을 중간에 멈출 수 있다.
for i in L:
    if i > 5:
        break
    print('Item: {0}'.format(i))    # 대괄호 안에 있는 번호는 0, 1, 2, ... 등이 넣어진다.

Item: 1
Item: 2
Item: 3
Item: 4
Item: 5

In [ ]:
# continue 문을 사용하면 해당 반복만 건너뛴다.
for i in L:
    if i % 2 == 0:
        continue
    print('Item {0}'.format(i))

Item 1
Item 3
Item 5
Item 7
Item 9

In [ ]:
# range 함수를 사용하면 특정 범위의 숫자를 생성할 수 있다.
print(list(range(10)))           # 0 <= x < 10 범위의 숫자
print(list(range(5, 10)))        # 5 <= x < 10 범위의 숫자
print(list(range(10, 0, -1)))    # 1 < x <= 10 범위의 숫자
print(list(range(0, 10, 2)))     # 0 <= x < 10 ㅂ

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
L = ['Apple', 'Orange', 'Banana']

for i in L:
  print(i)

Apple
Orange
Banana

In [ ]:
l = list(range(1, 6))

In [ ]:
[print(i) for i in l]     # 리스트 컴프리헨션(List Comprehension)  -> 파이썬에서만 볼 수 있는 기능

"""
다음과 같다.
for i in l:
  print(i)
"""

1
2
3
4
5

'\n다음과 같다.\nfor i in l:\n  print(i)\n'

In [ ]:
[i**2 for i in l]

[1, 4, 9, 16, 25]