# **파이썬 기초**
---

In [ ]:
print('Hello World')

Hello World

In [ ]:
# 텍스트를 삽입할 수도 있다.

첫 번째 파이썬 코드를 실행했습니다.

# 큰 글씨
아이유 콘서트 티켓 빡셈.

![아이유](https://pbs.twimg.com/profile_images/1374979417915547648/vKspl9Et_400x400.jpg)
## 다음 큰 글씨
### 다음 큰 글씨
#### 다음 큰 글씨
##### 다음 큰 글씨 (5개까지 가능하다.)


이러한 문법을 Markdown 이라고 한다.

🔶 [마크다운 공부하기](https://gist.github.com/ihoneymon/652be052a0727ad59601)

# **변수 규칙**
---

In [ ]:
a = 1
b = 2
print(a * b)

2

In [ ]:
# 2a = 3    # 변수명은 숫자로 시작할 수 없다.
# $a = 3    # 변수명은 특수 문자로 시작할 수 없다.
a = 3       # 변수명은 항상 문자로 시작해야 한다.
학생수 = 100

print("{}, {}".format(a, 학생수))

3, 100

In [ ]:
stn_c = 100            # 과거에는 변수 이름을 줄여야할 정도로 환경이 열악했던 때였다.
student_count = 100    # 지금은 가독성을 높이는 것이 중요한 시대가 되었으므로, Full-word로 쓰는게 좋다.
address ="Seoul"       # Juso와 같이 로마자 표기법으로 쓰지 않고, 정확한 영어로 쓰는 것이 좋다.

print(stn_c, student_count, address)

100 100 Seoul

In [ ]:
friend = 1
Friend = 10
print(friend)    # 1 출력, 변수명은 대소문자를 구별하여 사용한다.

1

In [ ]:
# 예약어는 변수명으로 사용할 수 없다.
# 예 : for, if, try 등
for = 1

SyntaxError: ignored

In [ ]:
# 숫자형
year = 2023
month = 4
print(year, month)

2023 4

In [ ]:
year = 2023            # 정수형(int)
print(type(year))      # type() 함수는 해당 객체의 자료형(Data Type)을 반환해준다.

year = '이천이십삼년'  # 문자열(string)
print(type(year))

<class 'int'>
<class 'str'>

In [ ]:
# 8진수
# 정수 앞에 0o를 붙이면 8진수
print(0o10)    # 8진수를 10진수로 출력

# 정수 앞에 0b를 붙이면 2진수
print(0b10)    # 2진수를 10진수로 출력

# 정수 앞에 0x를 붙이면 16진수
print(0x10)    # 16진수를 10진수로 출력력

8
2
16

In [ ]:
# 다음은 10진수를 받아서 각 진수로 변환한다.
# 결과가 문자형이다.

print(type(38))
print(type(bin(38)))    # 38이라는 10진수를 2진수로 변환한다.
print(type(oct(38)))    # 38이라는 10진수를 8진수로 변환한다.
print(type(hex(38)))    # 38이라는 10진수를 16진수로 변환한다.

print(bin(38))
print(oct(38))
print(hex(38))

<class 'int'>
<class 'str'>
<class 'str'>
<class 'str'>
0b100110
0o46
0x26

In [ ]:
# 파이썬의 정수 타입
print(type(1))         # int

# 예전에는 큰 수는 long 타입과 int 타입으로 구분되었으나, 파이썬 3.0부터 int 형으로 정수형이 통합되었다. 
# 크기가 크더라도 int 타입이다. 
# 하지만, 메모리 낭비는 그 만큼 커졌다.
# 이제 메모리는 많이 신경쓰지 않아도 된다.
print(type(2**31))     # int, 2의 31승 (엄청 큰 수) ->

<class 'int'>
<class 'int'>
<class 'float'>

In [ ]:
# 실수의 표현
print(type(3.14))
print(type(314e-2))   # 3.14와 같은 표현이다.

<class 'float'>
<class 'float'>

In [3]:
# 복소수의 표현
print(type(3 - 4j))

x = 3 - 4j
print(x.imag)          # 허수부 출력
print(x.real)          # 실수부 출력
print(x.conjugate())   # 허수부와 실수부 모두 출력 (켤레 복소수)

<class 'complex'>
-4.0
3.0
(3+4j)

In [4]:
# 원의 넓이와 삼각형 넓이 구하기
r = 2
pi = 3.14

circle_area = r ** 2 * pi
print(circle_area)

12.56

In [5]:
# 삼각형의 넓이 구하기
w = 3
h = 4
triangle_area = w * h / 2    # 밑변(w) * 높이(h) / 2
print(triangle_area)

6.0

In [11]:
# 문자열 실습
# 작은따옴표(''), 큰따옴표("") 모두 사용 가능하다. (모두 똑같다.)
print('Hello World!')
print("Hello World")
print("Welcome to 'Python World'")    # 강조하려고 할 때는 큰따옴표 안에 작은따옴표를 사용한다.
print('''
    항상 태양을 바라보아라
    그리하면 너는 그림자를 볼 수 없을 것이다.
                                - 헬렌켈러
''')    # 여러 줄 출력하기
print('\t탭 \n다음줄')

Hello World!
Hello World
Welcome to 'Python World'

    항상 태양을 바라보아라
    그리하면 너는 그림자를 볼 수 없을 것이다.
                                - 헬렌켈러

	탭
다음줄

In [12]:
'py' 'thon'   # 다음과 같이 실행하면 붙여서 출력한다. (파이썬의 기본적인 마인드)

'python'

In [18]:
print('py' 'thon')
print('py' + 'thon')    # + 기호를 써도 같은 결과가 나온다. (연산자를 명시하는게 좋은 방법이다)

python
python

In [20]:
print('py' * 3)    # * 기호를 사용하면 여러번 반복해서 출력시킨다.

pypypy

In [23]:
a = 'Python'

print(a[0])
print(a[0 + 1], end=' ')
print(a[0 + 2])

a[0] = 'A'     # index는 read-only 속성을 갖기 때문에 수정은 불가능하다. (가지고 오는 것만 가능하다.)

P
y t

TypeError: 'str' object does not support item assignment

In [29]:
# index를 이용해서 범위를 설정할 수 있다.
print(a[0:1])
print(a[1:4])
print(a[:2])    # 생략은 해당 방향의 끝을 나타낸다.
print(a[2:])
print(a[-2:])   # 끝의 2자리 가져오기
print(a[:])
print(a[::2])   # 맨 끝의 값은 증가식이다.

P
yth
Py
thon
on
Python
Pto

In [31]:
# 데이터 타입의 변환
print(str(3.14))    # 문자형으로 변환
print(int('49'))    # 정수형으로 변환
print(float(23))    # 실수형으로 변환

3.14
49
23.0